.idea

*.[oas]
*.pbc
*.bin
*.block

/bin
/multiboot_example/multiboot2.kernel
/img/bootdisk.img
/img/disk
/img/disk.img
/src/I386ASM/Parser.cpp
/src/KernelJIT/Module.cpp
/boot/I386_loader_dynamic_settings.pasm
/modules/**/*.pasm
